@use 'sass:color';

// Colors
$mid-orange: orange;
$mid-yellow: yellow;

// Greys
$light-grey-1: #eee;
$light-grey-2: #ddd;
$light-grey-3: #ccc;
$light-grey-4: #a9a9a9;

$mid-grey-1: #777;
$mid-grey-2: #575757;
$mid-grey-3: #444;

$dark-grey-1: #333;
$dark-grey-2: #222;
$dark-grey-3: #111;

// Blue
$mid-blue-2: #3b5998;
$mid-blue-3: color.adjust($mid-blue-2, $lightness: 5%, $space: hsl);
