// Paragraph text sizes
$paragraph-text-size-small: 10px;
$paragraph-text-size-normal: 13px;
$paragraph-text-size-large: 20px;

// Headings sizes
$heading1-size: 40px;
$heading2-size: 30px;
$heading3-size: 25px;
$heading4-size: 20px;
$heading5-size: 15px;
$heading6-size: 13px;
